<%= form_with model: @category, class: "max-w-md mx-auto bg-white p-6 rounded-lg shadow-md space-y-6" do |form| %>
  <% if @category.errors.any? %>
    <div class="bg-red-100 text-red-700 p-4 rounded">
      <% @category.errors.full_messages.each do |error| %>
        <p>• <%= error %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-teal-200" %>
  </div>

  <div class="text-center">
    <%= form.submit "Guardar categoría", class: "mt-4 bg-teal-600 text-white px-4 py-2 rounded hover:bg-teal-900 transition-colors duration-300 ease-in-out" %>
  </div>
<% end %>
