<h1 class="title"><%= @product.title %></h1>

<%= image_tag @product.photo, width: 200 if @product.photo.attached? %>

<p class="description"><%= @product.description %></p>

<span class="price"><%= @product.price %>€</span>
<br />
<span class="category_name">Categoría: <%= @product.category.name %></span>

<div>
<%= link_to t(".edit_link"), edit_product_path(@product) if @product.user == Current.user %>
</div>

<div>
<%= link_to t(".destroy_link"), product_path(@product), data: {
  turbo_method: :delete,
  turbo_confirm: t("common.confirm")
} if @product.user = Current.user
%>
</div>
