<div class="max-w-md mx-auto bg-white p-6 mt-16">
  <% if @product.photo.attached? %>
    <div class="flex justify-center">
      <%= image_tag @product.photo, class: "w-auto rounded-md shadow" %>
    </div>
  <% end %>
  <h1 class="text-2xl font-bold my-2"><%= @product.title %></h1>
  <span class="block text-lg font-bold">
    <%= @product.price %>€
  </span>
  <p class="text-gray-700 mt-2 text-justify"><%= @product.description %></p>

  <span class="block text:md text-gray-500">
    Categoría: <%= @product.category.name %>
  </span>

  <div class="flex justify-between pt-4">
    <% if @product.user == Current.user %>
      <%= link_to t(".edit_link"), edit_product_path(@product), class: "text-teal-600 hover:text-teal-800 font-medium" %>
    <% end %>

    <% if @product.user == Current.user %>
      <%= link_to t(".destroy_link"), product_path(@product),
        data: { turbo_method: :delete, turbo_confirm: t("common.confirm") },
        class: "text-red-600 hover:text-red-800 font-medium" %>
    <% end %>
  </div>
</div>
